.roadmap-sec {
  position: relative;
}

.roadmap-sec::after {
  content: "";
  position: absolute;
  width: 1100px;
  height: 1100px;
  border-radius: 100%;
  background-color: #86ff92;
  filter: blur(200px);
  right: -250px;
  top: -100px;
  opacity: 0.2;
  z-index: -1;
}

.roadmap-sec::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background-color: #f07474;
  filter: blur(200px);
  left: -300px;
  top: -400px;
  opacity: 0.15;
  z-index: -1;
}

.collection_star_1 {
  position: absolute;
  left: 60%;
  right: 0px;
  top: 0%;
  bottom: 0%;
  width: 100px;
  height: 100px;
  background-size: 75px;
  background-image: url("../../assests/thinsmooth.png");
  background-repeat: no-repeat;
}

.roadmap_star_2 {
  position: absolute;
  left: -60%;
  right: 0%;
  top: 75px;
  bottom: 0%;
  width: 100px;
  height: 100px;
  background-size: 50px;
  background-image: url("../../assests/plain.png");
  background-repeat: no-repeat;
}

.roadmap_star_3 {
  position: absolute;
  left: 180%;
  /* right: 40%; */
  top: -30px;
  /* bottom: 0%; */
  width: 100px;
  height: 100px;
  background-image: url("../../assests/thin.png");
  background-repeat: no-repeat;
}

.roadmap_star_4 {
  position: absolute;
  left: -110%;
  right: 0%;
  top: 5%;
  bottom: 0%;
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-image: url("../../assests/wide.png");
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .roadmap_star_1,
  .roadmap_star_2,
  .roadmap_star_3,
  .roadmap_star_4 {
    display: none;
  }
}
