body {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1200px) {
  .container {
    /* max-width: 1500px; */
    max-width: 80%;
    width: 95%;
  }
}

.container {
  padding: 35px 15px;
}

.heading_1 {
  font-family: Syne;
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  line-height: 94px;
}

.heading_2 {
  font-family: Syne;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
}

.heading_3 {
  font-family: Syne;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}

.heading_4 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.text_1 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
}

.text_2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}

.button_primary {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  padding: 20px 40px;
  width: fit-content;
  background: linear-gradient(94.54deg, #a542dd 0%, #da42dd 100%, #da42dd 100%);
  border: 0px;
}

.section_margin {
  margin: 10rem 0rem;
}

.purple_font {
  color: #a542dd;
}
/* Navbar Styling */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_social_container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.nav_social_icon {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .nav_social_icon svg {
  background: linear-gradient(135deg, #a542dd 0%, #da42dd 100%, #da42dd 100%),
    #1d2030;
} */

/* End Navbar Styling */

/* Header */

.header_img {
  max-width: 125%;
}

/* End Header */

/* About */

/* End About */

/* Collection */

.slider_arrow {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.slider_arrow:hover {
  border: 0px;
  background: linear-gradient(135deg, #a542dd 0%, #da42dd 100%, #da42dd 100%);
  color: #fff;
}

/* Roadmap */

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1005;
  box-sizing: border-box;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul {
  padding: 0;
  margin: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.content {
  padding-bottom: 20px;
  text-align: left;
}
.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li .time div {
  margin: 0;
  padding: 0;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
}
.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 50%;
  right: -250px;
  /* margin: 0; */
  padding: 8px 16px;
  /* background: rgba(233, 33, 99, 1);
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3); */
}
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 50%;
  left: -250px;
  /* margin: 0; */
  padding: 8px 16px;
  /* background: rgba(233, 33, 99, 1); */
  /* border-radius: 18px; */
  /* box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3); */
}
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .timeline:before {
    left: 20px;
    height: 100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

/* End Roadmap */

/* Faq */

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #fff;
  color: black;
  padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #fff;
  color: black;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#main #faq .card .collapsing {
  background: #fff;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #222;
}

/* End Faq */

.footer_box {
  background: #1d2030;
}

.footer_links_box {
  width: 110px;
  height: 110px;
  background: #fff;
}
